<!--
 * @Author: baozhoutao@steedos.com
 * @Date: 2022-04-24 17:22:15
 * @Description: 
-->
<html>

<head>
  <script src="https://npm.elemecdn.com/@steedos-builder/fiddle@0.0.5/dist/builder-fiddle.umd.js"></script>
</head>

<body>

  <builder-fiddle host="<%=builderHost%>"></builder-fiddle>

  <script>
    let comp = document.querySelector('builder-fiddle')

    const settings = {
      rootUrl: '<%=rootUrl%>',
      userId: '<%=userId%>',
      tenantId: '<%=tenantId%>',
      authToken: '<%=authToken%>',
      reportId: '<%=reportId%>',
      parameters: <%-JSON.stringify(parameters)%>,
    }
    console.log(`settings`, settings)
    comp.settings = settings
    window.comp = comp;
  </script>
</body>

</html>