<!--
 * @Author: baozhoutao@steedos.com
 * @Date: 2022-06-02 17:45:15
 * @LastEditors: baozhoutao@steedos.com
 * @LastEditTime: 2022-07-13 10:59:56
 * @Description: 
-->
<html>
  <head>
    <script src="/unpkg.com/@steedos-builder/fiddle@0.0.5/dist/builder-fiddle.umd.js"></script>
  </head>

  <body>

    <builder-fiddle host="<%=builderHost%>"></builder-fiddle>

    <script>
      let comp = document.querySelector( 'builder-fiddle' )
      const data = {
        AmisSchema: {
        "type": "page",
        "title": "Steedos Form Page",
        "body": [
          {
            "type": "form",
            "body": [
              {
                "type": "input-text",
                "name": "a",
                "label": "Name"
              }
            ]
          }
        ]
      }
    };
    // comp.data = data;

    const settings = {
      assetUrls: '<%=assetUrls%>',
      rootUrl: '<%=rootUrl%>',
      userId: '<%=userId%>',
      tenantId: '<%=tenantId%>',
      authToken: '<%=authToken%>',
      pageId: '<%=pageId%>',
    }
    comp.settings = settings
    </script>
  </body>
</html>
